{{>page}}

{{#section 'style'}}
    <style>

        .chat
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .chat li
        {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
            font-size: 16px;
        }
        .chat li.left .chat-body
        {
            margin-left: 60px;
        }
        .chat li.right .chat-body
        {
            margin-right: 60px;
        }

        .chat li .chat-body p
        {
            margin: 0;
            color: #777777;
        }
        .panel .slidedown .glyphicon, .chat .glyphicon
        {
            margin-right: 5px;
        }
        .body-panel
        {
            overflow-y: scroll;
            height: 510px;

        }
        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
        ::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }
        ::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .container {
            width: 1500px;



        }

        button {
           /* background-color: darkgray;*/
            border: none;
           /* color: white;*/
            padding: 3px 6px;
            font-size: 16px;
            cursor: pointer;
        }

        #dateandtime {
            font-size: 9px;
        }
        a:not([href]):not([tabindex]) {
            color: white;
            text-decoration: none;
        }

    </style>

{{/section}}

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                   <span class="glyphicon glyphicon-comment"></span> Your Posts
                    <div class="btn-group pull-right">
                        <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button> -->

                       <!-- <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>User Posts</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Settings</a></li> -->

                            <!--
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            -->
                        <!--
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Logout</a></li>
                        </ul>  -->

                    </div>
                </div>
                <div class="panel-body body-panel">
                    <ul class="chat">
                        {{#each messages}}
                            <!--<button type = "submit" name = "delete" class ="pull-left delete-message"><i class="fa fa-trash"></i></button><li>{{uname}}: {{msg}} <br> <span id = "dateandtime">{{DateAndTime}}</span> </li>-->


                            <a class = "btn btn-primary" data-id="{{id}}" >Delete</a><li>{{uname}}: {{msg}} <br> <span id = "dateandtime">{{DateAndTime}}</span> </li>

                        {{/each}}






                    </ul>
                </div>
                <div class="panel-footer clearfix">


                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'javascript'}}

    <script>
        /*
                $("#btn-chat").on('click', function(evt) {
                    var message = $("#usermessage").val();
                    $("#usermessage").val("");

                    if(message!= "") {
                        $(".chat").append("<li><span></span>"+ message +'</li>');
                    }


                })

                */

        $(document).ready(function() {
            $('.btn-primary').on('click', function(e) {

                $target = $(e.target);
                 var id = $target.attr('data-id');
                 $.ajax( {
                     type: 'DELETE',
                     url: '/post/'+id,
                     success: function(res) {
                        // alert('delete');
                         //res.send(200);
                         window.location.href = '/userPost';
                         //res.redirect(303, 'userPost');
                     },
                     error: function(err) {
                         console.log(err);
                     }



                 })



                console.log('delete button was pressed ' + id);
            })
        })



    </script>
{{/section}}
